.footer {
  width: 100%;
  background: #009398;
}

.footer__info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer__left-title {
  width: 235px;
  height: 51px;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__input {
  width: 331px;
  height: 45px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: none;
  outline: none;
}

.footer__btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background: #ffe600;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px;
  width: 256px;
  height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.footer__btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -2;
}
.footer__btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: all 0.3s;
  z-index: -1;
}
.footer__btn:hover {
  color: #fff;
}
.footer__btn:hover:before {
  width: 100%;
}
.footer__btn:hover:active {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

.footer__center-hour {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.center__hour-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-left: 10px;
}

.center__week-text {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.social__media {
  display: flex;
  align-items: center;
}

.social__media-img {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.social__media-img:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.instagram {
  width: 75px;
}

.footer__right-link {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  display: block;
}

.footer__right-num {
  display: block;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 10px;
  color: #ffffff;
}

.footer__right-address {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  width: 260px;
  display: block;
  padding-bottom: 10px;
}

.footer__right-dev {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
}/*# sourceMappingURL=Footer.css.map */